Dear {{ talk.speaker }}!

Thank you for proposing to give this presentation:

{{ talk.title }}

Congratulations! It has been accepted as one of the 30-minute talks for DevOps Days Portland 2016. (http://www.devopsdays.org/events/2016-portland/)

What you need to do right now:
1) Reply to this email and confirm that:
a) You will be present to give this talk in Portland, OR August 9-10, 2016.
b) You consent to your presentation being recorded and published, along with your slides, after the event.
c) You have read and will follow the code of conduct (http://www.devopsdays.org/events/2016-portland/conduct/).

You have until Friday June 17th, 2016 at 5pm PST to confirm those three things via a reply to this email. If we do not hear from you by then, we will regrettably need to rescind this offer and invite an alternate speaker.

2) Give us any desired edits for your talk description & bio, which we'll be listing on the website. Here is what we have now:

"Description": {{ talk.description }}

"Bio": {{ talk.bio }}

3) Send us your twitter hande and a headshot, at least 200x200 pixels.

4) Please wait until we post the schedule before you announce that you're speaking, as not every proposal submitter has heard back yet. We intend on posting the schedule to the devopsdays.org site in the next two weeks or so. We will tweet about it from @devopsdayspdx when it's up.

We will be in touch later with A/V and wifi specifics. For now, please assume you will be presenting from your own laptop with the usual level of conference wifi availability (i.e. dont depend on a live demo that requires an internet connection).

There is no required conference slide template. We ask that your slides be 16x9 and follow the conference code of conduct (http://www.devopsdays.org/events/2016-portland/conduct/).

Please respond ASAP with your acceptance, or regrets, or any questions. We are very excited to have you aboard!

Thanks,
The DevOpsDays Portland Organizing Team
