
Subject: DevOps Days Portland 2016: Proposal Update

Dear NAME,

Thank you very much for your DevOps Days Portland 2016 talk proposal:

TALK NAME

We had a fantastic turnout for talk proposals, which made our decision very hard. Sadly, we had many great talks and very few slots to fill. Unfortunately, your talk was not one of the ones selected to appear at DevOps Days Portland 2016.

We still want to see you at DevOps Days Portland, so please use this code to register with 20% off the ticket price:

TICKETCODE

A big part of DevOps Days are the open spaces, http://www.devopsdays.org/open-space-format/, so please consider proposing your topic for one of the open spaces discussions. DevOps Days are community events, and your ideas are what propel us forward.

We hope to see you in August!

Sincerely,
ORG TEAM

